OIDCProviderMetadataURL https://login.microsoftonline.com/<<<tenant_id>>>/v2.0/.well-known/openid-configuration
OIDCProviderAuthRequestMethod <<<...>>>
OIDCClientID <<<your_client_id>>>
OIDCClientSecret <<<your_client_secret>>>
OIDCRedirectURI https://<<<your_app_url>>>

# OIDC Cache and Session Settings
OIDCCacheShmEntrySizeMax <<<...>>>
OIDCSessionInactivityTimeout <<<...>>>
OIDCCryptoPassphrase <<<your_passphrase>>>
